 .content {
   width: 40%;
   margin: auto;
   padding: 10px;
 }

 .filter-panel {
   display: inline-flex;
 }

 .input {
   padding: 5px 2px; line-height: 28px;
 }

 .datepicker {
   display: inline-block;

 }

