<p>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="descriptionInput">
  </mat-form-field>
</p>

<mat-form-field appearance="fill">
  <mat-label>Date of transaction</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="dateInput">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-radio-group aria-label="Select an option" [(ngModel)]="isCome">
  <mat-radio-button value="Cash in">Cash in</mat-radio-button>
  <mat-radio-button value="Cash out">Cash out</mat-radio-button>
</mat-radio-group>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Amount of money</mat-label>
    <input matInput [(ngModel)]="amountOfMoney">
  </mat-form-field>
</p>

<div>
  <button mat-raised-button (click)="onNoClick('save')">Save</button>
  <button mat-raised-button (click)="onNoClick('close')">Cancel</button>
</div>
