<p>
  <mat-toolbar>
    <span>Cash Flow</span>
    <span class="example-spacer"></span>
    <a routerLink='../login' routerLinkActive="active">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Log in
      </button>
    </a>

    <a routerLink='../sign' routerLinkActive="active">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Sign Up
      </button>
    </a>
  </mat-toolbar>
</p>
<div class="center">
  <form class="example-form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Company name</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
    <button type="submit" mat-raised-button>Submit</button>
  </form>
</div>

<div *ngIf="isLoginFailed">
  <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
</div>
