.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
}

.example-spacer {
  flex: 1 1 auto;
}

.alert {
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 21%;
}



