<div *ngIf="!noData; then existsData else noExistsData"></div>
<ng-template #existsData>
  <div class="container">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [colors]="chartColors"
            [options]="chartOptions" [plugins]="chartPlugins" [legend]="chartLegend" [chartType]="chartType">
    </canvas>
  </div>
</ng-template>
<ng-template #noExistsData>
  <div class="no-data">
    <mat-icon>error</mat-icon>
    Data not found
  </div>
</ng-template>


<div class="container button-row">
    <button mat-raised-button class="button" (click)="grouping('noFilter')"
        [ngClass]="{'button-selected': currentFilter.name === 'noFilter'}">No grouping</button>
    <button mat-raised-button class="button" (click)="grouping('day')"
        [ngClass]="{'button-selected': currentFilter.name === 'day'}">Day</button>
    <button mat-raised-button class="button" (click)="grouping('month')"
        [ngClass]="{'button-selected': currentFilter.name === 'month'}">Month</button>
    <button mat-raised-button class="button" (click)="grouping('year')"
        [ngClass]="{'button-selected': currentFilter.name === 'year'}">Year</button>
</div>
