<p>
  <mat-toolbar>
    <span>Cash Flow</span>
    <span class="example-spacer"></span>
    <a routerLink='login' routerLinkActive="active">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Log in
      </button>
    </a>

    <a routerLink='sign' routerLinkActive="active">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Sign Up
      </button>
    </a>
  </mat-toolbar>
</p>
<div>
  <h2>
    NOT AUTHORIZATION
  </h2>
</div>
