<div class="content">
	<table mat-table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="sortData()"
		cdkDropList (cdkDropListDropped)="onDrop($event)" class="table">

		<ng-container matColumnDef="description">
		  <th mat-header-cell *matHeaderCellDef> Description </th>
		  <td mat-cell *matCellDef="let element" class="col-md td-description"> {{element.description}} </td>
		</ng-container>

		<ng-container matColumnDef="timestamp">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
		  <td mat-cell *matCellDef="let element" class="col-sm">
        {{this.datePipe.transform(element.timestamp, 'MMM d, y')}}
      </td>
		</ng-container>

		<ng-container matColumnDef="cashIn">
		    <th mat-header-cell *matHeaderCellDef> Cash in </th>
		        <td mat-cell *matCellDef="let element" class="col-sm color-cashIn">
			        {{element.cashIn}}
			      </td>
		</ng-container>

		<ng-container matColumnDef="cashOut">
		  	<th mat-header-cell *matHeaderCellDef> Cash out </th>
		  		<td mat-cell *matCellDef="let element" class="col-sm color-cashOut">
			  		{{element.cashOut}}
			 	  </td>
		</ng-container>

		<ng-container matColumnDef="balance">
			<th mat-header-cell *matHeaderCellDef> Balance </th>
			<td mat-cell *matCellDef="let element" class="col-sm"> {{element.balance}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag cdkDragLockAxis="y" class="tr"></tr>

	</table>
</div>
<ng-template #dragHandleTmpl> <!-- !!! -->
	<svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
		xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd"
			d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
			clip-rule="evenodd" />
	</svg>
</ng-template>
