<div>
  <div class="input-panel">
    <div class="input">
      <mat-form-field appearance="outline">
        <mat-label>From:</mat-label>
        <input matInput #inputDateStart type="text" autocomplete="off" [value]="viewInputStart"
               (input)="enteringStartDateFromInput(inputDateStart.value)">
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field appearance="outline">
        <mat-label>To:</mat-label>
        <input matInput #inputDateEnd type="text" autocomplete="off" [value]="viewInputEnd"
               (input)="enteringEndDateFromInput(inputDateEnd.value)">
      </mat-form-field>
    </div>
  </div>

  <div class="datepicker-panel">
    <div class="datepicker" appRenderDatepicker>
      <ngx-daterangepicker-material (choosedDate)="selectDataRange($event)" [autoApply]="true"
                                    [startDate]="selectedRange.startDate" [endDate]="selectedRange.endDate"
                                    (startDateChanged)="selectOnCalendarStartDate($event)"
                                    (endDateChanged)="selectOnCalendarEndDate($event)"
                                    customRangeDirection="false"
                                    [locale]="{firstDay: 1}">
      </ngx-daterangepicker-material>
    </div>
    <div class="datepicker">
      <div class="datepicker-month">
        <button mat-button class="button-month" (click)="chooseDirectionTime('Last')"
                [ngClass]="{'button-month-selected': nameDirection === 'Last'}">Last</button>
        <button mat-button class="button-month" (click)="chooseDirectionTime('Current')"
                [ngClass]="{'button-month-selected': nameDirection === 'Current'}">Current</button>
        <button mat-button class="button-month" (click)="chooseDirectionTime('Next')"
                [ngClass]="{'button-month-selected': nameDirection === 'Next'}">Next</button>
      </div>
      <div class="datepicker-range">
        <button mat-button (click)="choosePeriod('Week')"
                [ngClass]="{'button-period-selected': namePeriod === 'Week'}">Week</button>
        <button mat-button (click)="choosePeriod('Month')"
                [ngClass]="{'button-period-selected': namePeriod === 'Month'}">Month</button>
        <button mat-button (click)="choosePeriod('Quarter')"
                [ngClass]="{'button-period-selected': namePeriod === 'Quarter'}">Quarter</button>
      </div>
    </div>
  </div>

  <div class="button-panel">
    <div class="button">
      <button mat-flat-button (click)="closeDatepicker('close')">Cancel</button>
    </div>
    <div class="button">
      <button mat-flat-button color="primary" (click)="closeDatepicker('aaa')">Apply</button>
    </div>
  </div>
</div>
