  .bugdet-content {
    width: 40%;
    margin: auto;
  }

  .drag-handle {
    display: flex;
    align-items: center;
    cursor: move;

    .handle {
      margin-right: 5px;
    }
  }

  /* Animate items as they're being sorted. */
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 4px;
  }

  .cdk-drag-placeholder	{
    opacity: 0;
  }

  .col-xs {
    width: 2%;
  }

  .col-sm {
    width: 10%;
  }

  .col-md {
    width: 20%;
  }

  .td {
    text-align: center;
  }

  .td-right {
   text-align: right;
  }

  .table {
    margin-bottom: 2em;
  }

  .color-cashIn {
    color: rgb(20, 140, 58);
  }

  .color-cashOut {
    color: rgb(235, 45, 45);
  }

  // CELL

  .mat-cell:nth-child(3) {
    text-align: right;
    justify-content:right;
  }

  .mat-cell:nth-child(4) {
    text-align: right;
    justify-content:right;
  }

  .mat-cell:nth-child(5) {
    text-align: right;
    justify-content:right;
  }

  // HEADER

  .mat-header-cell {
    font-size: 10pt;
    font-weight: 500;
  }

  .mat-header-cell:nth-child(3) {
    text-align: center;
    justify-content: center;
  }

  .mat-header-cell:nth-child(4) {
    text-align: center;
    justify-content: center;
  }

  .mat-header-cell:nth-child(5) {
    text-align: center;
    justify-content: center;
  }
